.element {
  /*stroke-dasharray: 10;*/
  animation: dash 5s ease-in-out forwards;
  /*transform: translateX(0)*/
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 80;
  }
}