.cvlistitem {
  margin-top: 2.5rem;
  text-align: left;
}

.timetag {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.position {
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

.clients {
  margin-bottom: 0.5rem;
  font-style: italic;
}

.clients:before {
}

.keywords {
  font-weight: bold;
}

@media print {
  .cvlistitem {
    margin-top: 1.5rem!important;
  }
}