body {
  font-family: 'Necto Mono'
}

main {
  margin: auto;
  width: 640px;
  text-align: center;
  padding: 2rem;
  /*box-shadow:  7px 7px 41px #f2f2f2, 
             -7px -7px 41px #ffffff;*/
}

.whitebox {
  background: white;
}

footer {
  text-align: center;
  bottom: 2rem;
  position: absolute;
  width: 100%;
}