html {
  background-color: rgb(188, 137, 255);
}

body {
  font-family: 'Necto Mono', sans;
  margin: 1rem;
}

a {
  color: black;
}

main {
  margin: auto;
  max-width: 640px;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

main p a {
  color: black;
}

.whitebox {
  background: white;
}

footer {
  text-align: center;
  bottom: 2rem;
  position: absolute;
  width: 100%;
}

.backlink {
  color: black;
  text-decoration: none;
  position: fixed;
  left: 2rem;
}

.caption {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {

}

@page {
  margin: 0;
}

@media print {
  footer {
    position: fixed!important;
    bottom: 0!important;
  }
  header {
    position: fixed!important;
    top: 0!important;
  }
  .whitebox {
    width: 500px!important;
  }
  .backlink {
    display:none!important;
    height: 0!important;
  }
  a {
    color: black!important;
    text-decoration: none!important;
  }
  body {
    font-size:12px!important;
  }
  .break-after {
    page-break-after: always!important;
  }
}