.listlink {
  padding: 1rem;
  max-width: 640px;
  display: block;
  /*border: 1px solid rgb(216, 216, 216);*/
  text-decoration: none;
}

img {
  position: relative;
  width: 100%;
}

.listtitle {
  color: black;
  text-decoration: none;
  margin-bottom: 2rem;
  display: inline-block;
  background-color: white;
  padding: 0.5rem;
  margin-top: -3rem;
}



