.submit {
  font-family: 'Necto Mono';
  border: 1px solid black;
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: black 4px 4px;
  transition: box-shadow 0.5s;
  width: 100%;
  font-size: 1rem;
}

.submit:hover {
  cursor: pointer;
  box-shadow: black 2px 2px;
  transition: box-shadow 0.5s;
}

.submit:active {
  box-shadow: black 0px 0px;
  transition: box-shadow 0.25s;
}

input {
  border: 1px solid black;
  display: block;
  margin-top: 1rem;
  box-shadow: black -1px -1px;
  transition: box-shadow 0.5s;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.linkList {
  margin-top: 2rem;
  text-align: center;
}

.link {
  margin-top: 1rem;
  text-decoration: underline;
  display: inline-block;
}